<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.st.ssm.shoppingCart.mapper.ShoppingCartMapper">

	<!-- Result Map -->
	<resultMap id="BaseResultMap" type="ShoppingCartModel">
		<result column="id" property="id" />
		<result column="infor_code" property="inforCode" />
		<result column="user_code" property="userCode" />
		<result column="sum" property="sum" />
		<result column="purl1" property="purl1" />
		<result column="pcost" property="pcost" />
		<result column="pname" property="pname" />
	</resultMap>

	<!-- table all fields   sql片段 -->
	<sql id="Base_Column_List">
		id, infor_code, user_code, sum
		,(select url from b2c.b_commodity_picture p
		where p.code = b_shopping_cart.infor_code and type=1) purl1
		,(select name from b2c.b_commodity_information i
		where i.code = infor_code) pname
		,(select count from b2c.b_commodity_information i
		where i.code = infor_code) pcost
	</sql>
	
	<sql id="table_name">
		b2c.b_shopping_cart
	</sql>

	<!-- 拼接查询条件 -->
	<sql id="Example_Where_Clause">
		where 1=1
			<if test="id != null and id!='' ">
				and id = #{id}
			</if>
			<if test="inforCode != null and inforCode != ''">
				and infor_code = #{inforCode}
			</if>
			<if test="userCode != null and userCode != ''">
				and user_code = #{userCode}
			</if>
			<if test="sum != null and sum != ''">
				and sum = #{sum}
			</if>			
	</sql>

	<insert id="insert" parameterType="Object">
		insert into<include refid="table_name" />
		(infor_code,user_code,sum)
		values(#{inforCode},#{userCode},#{sum})
	</insert>
	
	
<!-- 查询系统用户列表 -->
	<select id="selectList" resultMap="BaseResultMap" parameterType="Object">
		select <include refid="Base_Column_List" />
		from <include refid="table_name" />
		<include refid="Example_Where_Clause" />
	</select>
	
	<select id="selectList1" resultMap="BaseResultMap" parameterType="Object">
		select <include refid="Base_Column_List" />
		from <include refid="table_name" />
		where id = #{id}
	</select>
	
	
	<update id="update" parameterType="Object">
		update <include refid="table_name" /> 
		set 
		<trim suffixOverrides=",">
			<if test="sum != null and sum != ''">
				sum = #{sum}
			</if>
		</trim>
		where infor_code = #{inforCode} and user_code = #{userCode}
	</update>

	<update id="updSum" parameterType="Object">
		update <include refid="table_name" /> 
		set 
		<trim suffixOverrides=",">
			<if test="sum != null and sum != ''">
				sum = #{sum}
			</if>
		</trim>
		where id=#{id}
	</update>
	
	<delete id="del" parameterType="Object">
		delete from <include refid="table_name" /> 
		<include refid="Example_Where_Clause" />
	</delete>
	

</mapper> 